#div1{
	width: 32%;
	height: 300px;
	background-color: #ff8989;
	margin: 0.4%;
}
#div2{
	width: 32%;
	height: 300px;
	background-color: #88f7ce;
	margin: 0.4%;
}
#div3{
	width: 32%;
	height: 300px;
	background-color:  #e29df2;
	margin: 0.4%;
}
@media screen and (max-width:600px)
{
	#div1{
		width:100%;
	}
	#div2{
		width:100%;
	}
	#div3{
		width:100%;
	}

}